<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macbook.nearify">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- S L A S H   A C T I V I T Y -->
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- O N B O A R D I N G   A C T I V I T Y -->
        <activity
            android:name=".Activity.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- L O G I N   A C T I V I T Y -->
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- M A I N   A C T I V I T Y -->
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- D E T A I L   A C T I V I T Y -->
        <activity
            android:name=".Activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.macbook.nearify.Activity.MainActivity" />
        </activity>

        <!-- F A C E B O O K   A P I   A C T I V I T Y -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- F A C E B O O K   A P P   I D -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>
